<%
    const { name, age } = user;
    const color = age > 13 ? 'red' : 'green';
%>
<h3 style="color: <%= color %>">Ten: <%= name %></h3>
<p>Tuoi: <%= age %></p>
<a href="/remove/<%= name %>">Remove <%= name %></a>
